<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回用户名</title>
    <link href="/CSS/style.css?version=5.9.0" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/JS/jquerysession.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="nav-bar">
        <div class="nav-panel">
            <div class="inner-nav-panel">
                <div class="logo">

                </div>
                <div class="buttons">
                    <a href="/loadhomepageaction.action" class="buttons-active">首页</a>
                    <a href="/JSP/register.jsp" class="buttons-active">现在注册</a>
                </div>
                <div class="c"></div>
            </div>
        </div>
    </div>
    <!-- main start -->
    <div class="main-content"></div>
    <div class="main" id="main">
        <!-- main-content start -->
        <div class="main-content">
            <div class="title">
                » 忘了用户名
            </div>
            <div class="main-box" style="margin-top: 50px" id="input">

                <div id="verifyDiv" style="display: inline">
                    <form action="/" method="post">
                        <table cellpadding="5" cellspacing="8" border="0" width="100%" class="fs14">
                            <tbody>
                            <h1 class="grey" style="font-size: small;margin-left: 150px">输入邮箱会收到一封含有验证码的邮件</h1>
                            <tr>
                                <td width="180" align="right">绑定邮箱</td>
                                <td width="auto" align="left"><input name="bbsUser.username" id="email" type="text" maxlength="16" required="required">*<span id="usernametip" style="color: red"></span></td>
                            </tr>
                            <tr>
                                <td width="180" align="right">验证码</td>
                                <td width="auto" align="left"><input name="requestVC" type = "password" id = "validatorcode" value="" required="required"/><input id="codebtn" type="button" value="获取验证码" ></td><!--   onclick="sendVCode()" -->
                            </tr>
                            <tr>
                                <td width="180" align="right"></td>
                                <td width="auto" align="left"><input type="button" value="确认" id="btnOK" name="btnOk" class="textbtn" disabled="disabled" style="background-color: grey" onclick="isVerifyScodeRight()"></td>
                            </tr>
                            <tr>
                                <td width="180" align="right"></td>
                                <td width="auto" align="left"><div id="message" style="color: red"></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>

            <div id="accounts" class="main-box" style="margin-top: 50px" hidden="hidden">
                <table cellpadding="5" cellspacing="8" border="0" width="100%" class="fs14">
                    <tbody>
                    <h1 class="grey" style="font-size: small;margin-left: 150px">与邮箱绑定的账号如下：</h1>
                    <br>
                    <h1 class="grey" style="font-size: small;margin-left: 150px">已注册账号数量：<label id="account_length"></label></h1>
                    <tr>
                        <td width="180" align="right">账号1</td>
                        <td width="auto" align="left"><label id="username0" style="color: red"></label></td>
                    </tr>
                    <tr>
                        <td width="180" align="right">账号2</td>
                        <td width="auto" align="left"><label id="username1" style="color: red"></label></td>
                    </tr>
                    <tr>
                        <td width="180" align="right">账号3</td>
                        <td width="auto" align="left"><label id="username2" style="color: red"></label></td>
                    </tr>
                    <tr>
                        <td width="180" align="right">账号4</td>
                        <td width="auto" align="left"><label id="username3" style="color: red"></label></td>
                    </tr>
                    <tr>
                        <td width="180" align="right">账号5</td>
                        <td width="auto" align="left"><label id="username4" style="color: red"></label></td>
                    </tr>
                    <tr>
                        <td width="180" align="right">账号6</td>
                        <td width="auto" align="left"><label id="username5" style="color: red"></label></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- main-content end -->
        <div class="main-sider">
            <div class="sider-box" style="margin-top: 20px;border: 0px">

            </div>
        </div>
        <div class="c"></div>
    </div>
    <!-- main end -->
    <div class="c"></div>
    <!-- footer start -->
    <div class="copyright">
        <p>

        </p>
    </div>
    <!-- footer end -->

    <script>
        var countdown=60;
        $('#codebtn').click(function() {
            var email = $("#email").val();
            $.ajax({
                type : "post",
                url : "/SecurityCode/sendSecurityCodeToEmailInForgetUsername",
                dataType:"text",
                data :{email:email},

                success : function(res) {
                    if(res!="fail"){//服务器业务正确
                        $.session.set('scode', res);
                        $('#codebtn').attr("disabled","disabled");
                        $('#btnOK').css("background-color","#5CACEE") ;
                        $('#btnOK').attr("disabled",false);
                        countdown = 60;
                        setTime();
                    }
                    else {
                        $('#usernametip').html("邮箱不存在");
                    }
                },
                error : function() {
                    alert("ajax异常");
                }
            });
        });

        $('#uname').change(function () {
            $('#usernametip').html("");
        });

        function setTime() {
            if(countdown!=0){
                $('#codebtn').attr("value",(countdown--)+"秒后可重新发送") ;
            }
            else {
                $('#codebtn').attr("value","获取验证码") ;
                $('#codebtn').attr("disabled",false) ;
            }
            setTimeout(function () {
                setTime();
            },1000)
        }

        function isVerifyScodeRight() {
            var scode = $("#validatorcode").val();
            var realscode = $.session.get('scode');
            var email = $("#email").val();
            if(scode==realscode){
                $("#accounts").attr("hidden",false);
                //异步获取对应的账号
                $.ajax({
                    type:'post',
                    url:"/user/getUsernamesByEmail",
                    dataType:'json',
                    data:{email:email},
                    dataType:'text',
                    timeout:1000,

                    error:function () {
                        $('#message').html("ajax异常");
                    },
                    success:function (result) {
                        $("#input").attr('hidden',true);

                        var jsonMsg = JSON.parse(result);

                        console.log(jsonMsg);

                        var length = jsonMsg.length;

                        $("#account_length").text(length);

                        for(var i= 0 ;i<length;i++){
                            $('#'+"username"+i).text(jsonMsg[i]);
                        }
                    }
                });
            }
            else {
                $('#message').html("验证码错误，请重试！");
            }
        }
    </script>
</div>
</body>
</html>