<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/CSS/style.css?version=5.9.0" rel="stylesheet" type="text/css">
</head>
<script>
    function createCode(){
        //首先默认code为空字符串
        code = '';
        //设置长度，这里看需求，我这里设置了4
        var codeLength = 4;
        var codeV = document.getElementById('code');
        //设置随机字符
        var random = new Array(0,1,2,3,4,5,6,7,8,9,'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R', 'S','T','U','V','W','X','Y','Z');
        //循环codeLength 我设置的4就是循环4次
        for(var i = 0; i < codeLength; i++){
            //设置随机数范围,这设置为0 ~ 36
            var index = Math.floor(Math.random()*36);
            //字符串拼接 将每次随机的字符 进行拼接
            code += random[index];
        }
        //将拼接好的字符串赋值给展示的Value
        codeV.value = code;
    }
    function validate(){
        var oValue = document.getElementById('validatorcode').value.toUpperCase();
        if(oValue != code){
            document.getElementById("validationtip").innerHTML = "<font color='red'>验证码错误</font>"
            oValue = ' ';
            createCode();
            return false;
        }else{
            return true;
        }
    }
    window.onload = function (){
        createCode();
    }
</script>
<body>
<!-- content wrapper start -->
<div class="wrapper">
    <div class="nav-bar">
        <div class="nav-panel">
            <div class="inner-nav-panel">
                <div class="logo">
                    <a href="/toHomePage">
                        <img src="/images/logo.png">
                    </a>
                </div>
                <div class="buttons">
                    <a href="/toHomePage" class="buttons-active">首页</a>
                    <a href="/user/toRegister" class="buttons-active">现在注册</a>
                </div>
                <div class="c"></div>
            </div>
        </div>
    </div>
    <!-- main start -->
    <div class="main-content"></div>
    <div class="main" id="main">
        <!-- main-content start -->
        <div style="float:left;width: 500px">
            <div class="title">
                <a href="/JSP/tohomepage.jsp">缺陷管理系统</a> » 请先登陆～
            </div>
            <div style="margin-top: 100px;width:650px;padding:10px;margin-bottom:20px;background: #FFF;border-radius: 5px;">
                <form action="/user/login" method="post" onsubmit="return validate()">
                    <table cellpadding="5" cellspacing="8" border="0" width="100%" class="fs14">
                        <tbody>
                        <tr>
                            <td width="180" align="right">用户名</td>
                            <td width="auto" align="left"><input name="username"  type="text" required="required" placeholder="请在此输入用户名" onkeyup="value=value.replace(/[\W]/g,'')"></td>
                        </tr>
                        <tr>
                            <td width="180" align="right">密码</td>
                            <td width="auto" align="left"><input name="password" type="password" required="required" placeholder="请在此输入密码" onkeyup="value=value.replace(/[\W]/g,'')"></td>
                        </tr>
                        <tr>
                            <td width="180" align="right">验证码</td>
                            <td width="auto" align="left"><label><input id = "validatorcode" type="password" required="required" style="width: 130px" placeholder="验证码"><input style="background: lightgray;color: white;margin-top: 5px;margin-left: 15px" type = "button" id="code" onclick="createCode()"/></label></td>

                        </tr>
                        <tr>
                            <td width="180" align="right"></td>
                            <td width="auto" align="left"><input type="submit" class="textbtn" name="submit" id="submit" value="登陆"><a href="/toForgetPasswordPage" style="margin-left: 50px;color: #5CACEE">忘了密码</a><a href="/toForgetUsername" style="margin-left: 50px;color: #5CACEE">忘了用户名</a></td>
                        </tr>
                        <tr>
                            <td width="180" align="right"></td>
                            <td width="auto" align="left"></td>
                        </tr>
                        <tr>
                            <td width="180" align="right"></td>
                            <td width="auto" align="left"><p><label id="validationtip"></label></p></td>
                        </tr>
                        <tr>
                            <td width="180" align="right"></td>
                            <td width="auto" align="left"><div th:text = "${message}" style="color: red"></div></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <!-- main-content end -->
        <div style="float:right;width:395px;font-size:12px;">

        </div>
        <div class="c"></div>
        <a style="left: 842px; display: none;" rel="nofollow" href="#top" id="go-to-top">▲</a>
    </div>
    <!-- main end -->
    <div style="float:right;width:395px;font-size:12px;">
        <div style="margin-top: 39px;box-sizing: border-box;margin-bottom:20px;background: #fff;border-radius: 5px;">
            <!--<img src="/image/login.gif" alt="family" height="395px" width="395px">-->
            <img style="width: 200px;height: 40px;" src="/images/logo2.png">
        </div>
    </div>

    <div class="c"></div>
    <!-- footer start -->
    <div class="copyright">
        <p th:text = "${session.DMSInfo.copyright}">
        </p>
    </div>
    <!-- footer end -->
</div>
<!-- content wrapper end -->
</body>
</html>